@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-green: #e8f3e8;
  --message-green: #e8f3e8;
  --message-gray: #f1f1f1;
  --highlight-green : #22c55e;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* globals.css */
::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-bubble {
  max-width: 80%;
  padding: 12px 16px;
  border-radius: 16px;
  word-break: break-word;
}

.chat-bubble-gray {
  background-color: var(--message-gray);
}

.chat-bubble-green {
  background-color: var(--message-green);
}

.highlight-green {
  background-color: var(--highlight-green);
}

